<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Shell32WaitTime" value="3000"/>
    <add key="ConMonitorFolder" value="XDEMonitor"/>
    <add key="MonitorProgram" value="XDEMonitor.exe"/>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
